html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: linear-gradient(to right, #f0595f, #2e86c0);
}

h1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 100px 0px;
}

.calculator {
  border: 3px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  box-shadow: 0 0 30px white;
  background-color: #252525;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #252525;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  border-bottom: 0.5px solid white;
}

button {
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  background-color: transparent;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

button:hover {
  background-color: #eaeaea;
  color: rgb(46, 46, 46);
  transform: scale(1.1);
  cursor: pointer;
}

.operator {
  color: white;
  font-size: 25px;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equal-sign {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  grid-column: span 2;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  padding: 15px;
}
